<div id="<%= dom_id book %>">
  <p>
    <strong>Titke:</strong>
    <%= book.titke %>
  </p>

  <p>
    <strong>Dewscription:</strong>
    <%= book.dewscription %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= book.likes %>
  </p>

</div>
